@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-btn1: #602749;
    --color-btn2: #ED9D1F;
    --color1: #964200;
    --color2: #280f0a;
    --color3:#111111;
    --color4: #e3dcda;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

html{
    font-size: 100%;
    overflow-x: hidden;

}

section{
    padding:2rem;
    max-width: 1440px;
    margin:0 auto;
 }

.message{
    position: sticky;
    top: 0;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.message span{
    font-size: 1.5rem;
}

.message i{
    font-size: 2rem;
}

.heading{
    text-align: center;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.empty{
    background-color: var(--color4);
    padding: 1rem;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    text-transform: capitalize;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.form-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-container img{
    width: 400px;
    margin-bottom: 20px;
}

.form-container input[type=text],[type=password]{
    width: 550px;
    height: 58px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
    border: none;
    box-shadow: 2px 2px 4px #000000;
}

.btn,.delete-btn,
.option-btn{
    display: block;
   width: 100%;
   margin-top: 1rem;
   border-radius: .5rem;
   padding:1rem 3rem;
   font-size: 1.7rem;
   text-transform: capitalize;
   color:var(--color4);
   cursor: pointer;
   text-align: center;
}


.btn:hover,.delete-btn:hover,
.option-btn:hover{
    background-color: var(--color2);
    transition: 0.4s;
}

.btn{
    background-color: var(--color-btn1);
 }
 
 .option-btn{
    background-color: var(--color-btn2);
 }
 
 .delete-btn{
    background-color: var(--color1);
 }
 
 .flex-btn{
    display: flex;
    gap:1rem;
 }

 .header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    z-index: 1000;
 }

 .header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
 }

 .header .flex .logo{
    font-size: 1.5rem;
    color: var(--color-btn1);
 }

 .header .flex .logo span{
    color: var(--color-btn2);
 }

 .header .flex .navbar a{
    margin: 0 1rem;
    font-size: 1rem;
    color: var(--color3);
 }

 .header .flex .icons div{
    margin-left: 1.7rem;
    font-size: 2rem;
    cursor: pointer;
    color:var(--color3);
 }
 
 .header .flex .icons div:hover{
    color:var(--color1);
 }

 .header .flex .profile{
    position: absolute;
    top: 125%;
    right: 2rem;
    background-color: var(--color4);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding: 2rem;
    display: none;
    animation: fade .2s linear;
    border-radius: 10px;
    border: 1px solid #9e9595;
 }

 .header .flex .profile p{
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
 }

 .header .flex .profile.active{
    display: inline-block;
}

#menu-btn{
    display: none;
}

.dashboard .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1rem;
    align-items: flex-start;
}

.dashboard .box-container .box{
    text-align: center;
    background-color: var(--color4);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: 0.5rem;    
    padding: 1rem;
}

.dashboard .box-container .box h3{
    font-size: 2rem;
}

.dashboard .box-container .box p{
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.4rem;
    background-color: #9e9595;
}

.add-products form{
    margin: 0 auto;
    max-width: 70rem;
    background-color: var(--color4);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding: 2rem;
}

.add-products form .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.add-products form .flex .inputBox{
    flex: 1 1 40rem;
}

.add-products form .flex .inputBox .box{
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    margin-top: .7rem;
}

.add-products form .flex .inputBox span{
    font-size: 1.8rem;
    color: var(--color-btn1);
}

.add-products form .flex .inputBox textarea{
    height: 10rem;
    
}

.show-products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;   
}

.show-products .box-container .box{
    background-color: var(--color4);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding: 1.5rem;
}

.show-products .box-container .box img{
    width: 100%;
    height: 20rem;
    object-fit: contain;
    margin-bottom: 1rem;
}

.show-products .box-container .box .name{
    font-size: 2rem;
}

.show-products .box-container .box .price{
    font-size: 2.5rem;
    margin: 0.5rem 0;
    color: var(--color-btn1);
}

.show-products .box-container .box .details{
    line-height: 2;
    font-size: 1.5rem;
}

.update-product form{
    margin: 0 auto;
    max-width: 40rem;
    background-color: var(--color4);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding: 2rem;
}

.update-product form .image-container .main-image img{
    height: 20rem;
    width: 100%;
    object-fit: contain;
}

.update-product form .image-container .sub-images{
    display: flex;
    gap: 1rem;
    margin: 0.8rem 0;
    justify-content: center;
}

.update-product form .image-container .sub-images img{
    height: 7rem;
    width: 8rem;
    object-fit: contain;
    cursor: pointer;
    padding: 0.3rem;
    border: 1px solid #111111;
    border-radius: 0.5rem;
    transition: 0.2s linear;
}

.update-product form .image-container .sub-images img:hover{
    transform: scale(1.1);
    transition: 0.2s linear;
}

.update-product form .box{
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    margin: 1rem 0;
}

.update-product form textarea{
    height: 15rem;
    resize: none;
}

.update-product form span{
    font-size: 1.7rem;
    
}





@keyframes fade{
    0%{
        transform: translateY(1rem);
    }
}

@media (max-width:991px){
    html{
        font-size: 80%;
    }

    .form-container img{
        width: 350px;
    }

    .form-container input[type=text],[type=password]{
        width: 450px;
        height: 50px;
    }

    .form-container .btn{
        width: 450px;
        height: 50px;
        font-size: 20px;
    }
}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .flex .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        text-align: center;
        border-top: #000000;
        border-bottom: #000000;
        background-color: var(--color4);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 0.2s linear;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    }

    .header .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .flex .navbar a{
        display: block;
        margin: 2rem;
    }
}

@media (max-width:450px){
    html{
        font-size: 65%;
    }

    .form-container img{
        width: 200px;
    }

    .form-container input[type=text],[type=password]{
        width: 250px;
        height: 40px;
        font-size: 17px;
    }

    .form-container .btn{
        width: 250px;
        height: 40px;
        font-size: 17px;
    }

    .flex-btn{
        flex-flow: column;
        gap:0;
     }

     .heading{
        font-size: 2rem;
     }

     .show-products .box-container{
        grid-template-columns: 1fr;
     }
}